<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Celeb Guide</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <h3>
        Celeb Guide
        <small class="text-muted">A website designed to store your celeb info... </small>
    </h3>
    <p class="lead">
        other text
    </p>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Landing page (List of Database Contents)</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


<!-- Navbar links -->
<!--    These help you add other tabs on the main page-->
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/wiki}">Wiki Info Tab</a>
        </li>
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" th:href="@{/celebs}">Celeb Management</a>-->
<!--        </li>-->
    </ul>
</div>
</nav>



<div class ="container">
    <div class = "row">
        <h1> Your Celebrity Database </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/celebs/new}" class = "btn btn-primary btn-sm mb-3"> Add celeb</a>

<!--            to add wiki info page-->
<!--            <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Link</a>-->
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Celeb First Name</th>
            <th> Celeb Last Name</th>
            <th> Movie Title</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "celeb: ${celebs}">
            <td th:text = "${celeb.firstName}"></td>
            <td th:text = "${celeb.lastName}"></td>
            <td th:text = "${celeb.movieTitle}"></td>
            <td>
                <a th:href = "@{/celebs/edit/{id}(id=${celeb.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/celebs/{id}(id=${celeb.id})}"
                   class = "btn btn-danger">Delete</a>

<!--                <a th:href = "@{/celebs/edit/{id}(id=${celeb.id})}"-->
<!--                   class = "btn btn-primary">Update</a>-->

            </td>
        </tr>


        </tbody>

    </table>

</div>





</body>
</html>